/*******************************************************************************

    ηMatrix - a browser extension to black/white list requests.
    Copyright (C) 2019-2020 Alessio Vanni

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see {http://www.gnu.org/licenses/}.

    Home: https://gitlab.com/vannilla/ematrix
    uMatrix Home: https://github.com/gorhill/uMatrix
*/

#cloudWidget {
    background: url("../img/cloud.png") hsl(216, 100%, 93%);
    border-radius: 3px;
    margin: 0.5em 0;
    padding: 1em 1em 0 1em;
    position: relative;
    }
#cloudWidget.hide {
    display: none;
    }
#cloudWidget > button {
    display: inline-block;
    font-family: FontAwesome;
    font-size: 160%;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding: 0.2em 0.25em 0.1em 0.25em;
    position: relative;
    vertical-align: baseline;
    }
#cloudWidget > button[disabled] {
    visibility: hidden;
    }
#cloudWidget > button.error {
    color: red;
    }
#cloudPush:after {
    content: '\f0ee';
    }
#cloudPull:before,
#cloudPullAndMerge:before {
    content: '\f0ed';
}
#cloudPullAndMerge {
    margin: 0 0.25em;
    }
#cloudPullAndMerge:after {
    content: '\f067';
    font-size: 50%;
    position: absolute;
    right: 0;
    top: 10%;
    }
#cloudWidget > span {
    color: gray;
    display: inline-block;
    font-size: 90%;
    margin: 0 1em;
    padding: 0;
    vertical-align: bottom;
    white-space: pre;
    }
#cloudError {
    color: red;
    margin: 0;
    padding: 0.5em 0;
    }
#cloudError > span {
    font-size: x-small;
    }
#cloudWidget > #cloudCog {
    cursor: pointer;
    display: inline-block;
    font-size: 110%;
    margin: 0;
    opacity: 0.5;
    padding: 4px;
    position: absolute;
    top: 0;
    }
body[dir="ltr"] #cloudWidget > #cloudCog {
    right: 0;
    }
body[dir="rtl"] #cloudWidget > #cloudCog {
    left: 0;
    }
#cloudWidget > #cloudCog:hover {
    opacity: 1;
    }
#cloudWidget > #cloudOptions {
    align-items: center;
    -webkit-align-items: center;
    background-color: rgba(0, 0, 0, 0.75);
    bottom: 0;
    display: none;
    justify-content: center;
    -webkit-justify-content: center;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 2000;
    }
#cloudWidget > #cloudOptions.show {
    display: flex;
    display: -webkit-flex;
    }
#cloudWidget > #cloudOptions > div {
    background-color: white;
    border-radius: 3px;
    padding: 1em;
    text-align: center;
    }
