/*******************************************************************************

    ηMatrix - a browser extension to black/white list requests.
    Copyright (C) 2019-2020 Alessio Vanni

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see {http://www.gnu.org/licenses/}.

    Home: https://gitlab.com/vannilla/ematrix
    uMatrix Home: https://github.com/gorhill/uMatrix
*/

body {
    background-color: white;
    border: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    color: black;
    margin: 0;
    overflow-x: hidden;
    padding: 0;
    width: 100%;
    }
#toolbar {
    background-color: white;
    border: 0;
    border-bottom: 1px solid #ccc;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    left: 0;
    margin: 0;
    padding: 0.5em 1em;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    }
#toolbar .button {
    background-color: white;
    border: none;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    font-size: 150%;
    margin: 0;
    padding: 8px;
    }
#toolbar .button.disabled {
    opacity: 0.2;
    pointer-events: none;
    }
#toolbar .button:hover {
    background-color: #eee;
    }
#toolbar > div {
    white-space: nowrap;
    }
#toolbar > div:first-of-type {
    font-size: 120%;
    }
#toolbar > div > * {
    vertical-align: middle;
    }
#pageSelector {
    width: 28em;
    padding: 0.2em 0;
    }
body #compactViewToggler.button:before {
    content: '\f102';
    }
body.compactView #compactViewToggler.button:before {
    content: '\f103';
    }
#filterButton {
    opacity: 0.25;
    }
body.f #filterButton {
    opacity: 1;
    }
#filterInput.bad {
    background-color: #fee;
    }
#maxEntries {
    margin: 0 2em;
    }
input:focus {
    background-color: #ffe;
    }
#content {
    font-family: "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-size: 13px;
    width: 100%;
    }

#content table {
    border: 0;
    border-collapse: collapse;
    direction: ltr;
    table-layout: fixed;
    width: 100%;
    }
#content table > colgroup > col:nth-of-type(1) {
    width: 4.6em;
    }
#content table > colgroup > col:nth-of-type(2) {
    width: 2.2em;
    }
#content table > colgroup > col:nth-of-type(3) {
    width: 2.2em;
    }
#content table > colgroup > col:nth-of-type(4) {
    width: 5.4em;
    }
#content table > colgroup > col:nth-of-type(5) {
    width: calc(100% - 14.4em);
    }
#content table tr {
    background-color: #fafafa;
    }
body.f table tr.f {
    display: none;
    }
#content table tr:nth-of-type(2n+1) {
    background-color: #eee;
    }

#content table tr.cat_info {
    color: #00f;
    }
#content table tr.blocked {
    color: #f00;
    }
#content table tr.doc {
    background-color: #666;
    color: white;
    text-align: center;
    }

body #content td {
    border: 1px solid #ccc;
    min-width: 0.5em;
    padding: 3px;
    vertical-align: top;
    white-space: normal;
    word-break: break-all;
    word-wrap: break-word;
    }
#content table tr td:first-of-type {
    border-left: none;
    }
#content table tr td:last-of-type {
    border-right: none;
    }
body.compactView #content tr:not(.vExpanded) td {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    }

#content table tr td:nth-of-type(1) {
    cursor: default;
    text-align: right;
    white-space: nowrap;
    }
#content table tr td:nth-of-type(2) {
    text-align: center;
    white-space: nowrap;
    }
#content table tr.tab_bts > td:nth-of-type(2):before {
    content: '\f070';
    font: 1em FontAwesome;
    }
#content table tr.tab:not(.canMtx) {
    opacity: 0.3;
    }
#content table tr.tab:not(.canMtx):hover {
    opacity: 0.7;
    }
#content table tr.tab:not(.canMtx) > td:nth-of-type(2):before {
    content: '\f00d';
    font: 1em FontAwesome;
    }
body:not(.popupOn) #content table tr.canMtx td:nth-of-type(2) {
    cursor: zoom-in;
    }
body:not(.popupOn) #content table tr.canMtx td:nth-of-type(2):hover {
    background: #ccc;
    }
#content table tr.cat_net td:nth-of-type(3) {
    font: 12px monospace;
    text-align: center;
    white-space: nowrap;
    }
#content table tr.cat_net td:nth-of-type(5) {
    }
#content table tr.cat_net td:nth-of-type(5) > span > * {
    opacity: 0.6;
    }
#content table tr.cat_net td:nth-of-type(5) > span > b:first-of-type {
    opacity: 1;
    }

#popupContainer {
    background: white;
    border: 1px solid gray;
    display: none;
    overflow: hidden;
    position: fixed;
    right: 1em;
    top: 0;
    z-index: 200;
    }
body.popupOn #popupContainer {
    display: block;
    }
#popupContainer > div {
    background: #888;
    border: 0;
    }
#popupContainer > div {
    text-align: right;
    }
#popupContainer > div > span {
    color: #ccc;
    cursor: pointer;
    display: inline-block;
    font: 14px FontAwesome;
    padding: 3px;
    }
#popupContainer > div > span:hover {
    color: white;
    }
#popupContainer > iframe {
    border: 0;
    padding: 0;
    margin: 0;
    width: 100%;
    }
#popupContainer.hide {
    width: 6em !important;
    }
#popupContainer.hide > iframe {
    display: none;
    }
